<div class="footer py-4 d-flex flex-lg-column" id="kt_footer">
    <div class="container-xxl d-flex flex-column flex-md-row align-items-center justify-content-between">
        <div class="text-dark order-2 order-md-1">
            <span class="text-muted fw-bold me-1">&copy; 2022</span>
            <a href="{{ 'home'|page(false) }}" target="_blank" class="text-gray-800 text-hover-primary">Step by step Focus SARL</a>
        </div>
        
        <ul class="menu menu-gray-600 menu-hover-primary fw-bold order-1">
            <li class="menu-item">
                <a href="{{ 'about'|page(false) }}" target="_blank" class="menu-link px-2">About</a>
            </li>
            <li class="menu-item">
                <a href="{{ 'contact'|page(false) }}" target="_blank" class="menu-link px-2">Support</a>
            </li>
            <li class="menu-item">
                <a href="{{ 'front/privacy'|page(false) }}" target="_blank" class="menu-link px-2">Privacy</a>
            </li>
        </ul>
        
    </div>
</div>