<div class="text-center mb-5 mb-lg-10 py-10">
    <h1 class="text-white lh-base fw-bold fs-2x mb-15">Step by Step, the number one financial<br> trading and arbitrage platform!
        
        <div class="my-2 fw-boldest fs-3x" style="background: linear-gradient(to right, #F93E7A 0%, #D3104B 100%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;">
            <span id="kt_landing_hero_text">Don’t miss to be in the best team. </span>
        </div>
        
        <span class="fs-3 fw-light">We have the most choise for deposits and we are build<br> day by day the way you will enjoy your self!
    </h1>
    <a href="{{ 'dashboard'|page }}" class="btn btn-info rounded-pill fs-2 fw-light"><i class="bi bi-coin me-3 fs-1"></i> Start trading now !</a>
</div>

<div class="d-flex flex-center flex-wrap position-relative px-5 pb-10">
    <div class="d-flex flex-center m-3 m-md-6" data-bs-toggle="tooltip" title="Visa">
        <img src="assets/img/visa.jpg" class="mh-50px mh-lg-70px rounded-3" alt="">
    </div>
    <div class="d-flex flex-center m-3 m-md-6" data-bs-toggle="tooltip" title="Mastercard">
        <img src="assets/img/mastercard.jpg" class="mh-50px mh-lg-70px rounded-3" alt="">
    </div>
    <div class="d-flex flex-center m-3 m-md-6" data-bs-toggle="tooltip" title="MTN Mobile Money">
        <img src="assets/img/mtn.jpg" class="mh-50px mh-lg-70px rounded-3" alt="">
    </div>
    <div class="d-flex flex-center m-3 m-md-6" data-bs-toggle="tooltip" title="Moov Money">
        <img src="assets/img/moov.jpg" class="mh-50px mh-lg-70px rounded-3" alt="">
    </div>
    <div class="d-flex flex-center m-3 m-md-6" data-bs-toggle="tooltip" title="Orange Money">
        <img src="assets/img/orange.jpg" class="mh-50px mh-lg-70px rounded-3" alt="">
    </div>
</div>c